.app {
  padding: 0 16px;
}

.header {
  padding-top: 16rem;
  padding-bottom: 2.5rem;
}

.trendingTitle {
  margin-bottom: 4rem;
  margin-left: 2rem;
}

.trendingList {
  margin-bottom: 3rem;
}

.allMoviesTitle {
  margin-left: 2rem;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  list-style: none;
  padding: 0;
}

.page {
  background-color: #374151;
  border-radius: 4px;
}

.pageLink {
  display: block;
  padding: 0.25rem 0.75rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.active {
  background-color: #111827;
  color: white;
  font-weight: bold;
}

.previous {
  padding: 0.25rem 0.75rem;
  background-color: #374151;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.previous:hover {
  background-color: #4b5563;
}

.next {
  padding: 0.25rem 0.75rem;
  background-color: #374151;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}